script(type="text/javascript", src="/vender/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vender/angular/angular.min.js")
script(type="text/javascript", src="/vender/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vender/angular-route/angular-route.min.js")


